.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.form-group--long {
    flex-grow: 1;
}

.form-group__label {
    color: var(--color-heading);
    font-size: 2rem;
    margin-left: 1rem;
}


.form-control-group {
    align-items: center;
    background: #fff;
    border-radius: 25px;
    border: 1px solid var(--color-secondary);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
}

.form-control {
    border: 0;
    flex-grow: 1;
    font-size: 2rem;
    outline: none;
    padding: 1rem;
    transition: all 0.1s ease-out;
    width: 100%;
}

.form-control::placeholder {
    color: #2323
}

.form-control__icon {
    display: inline-block;
    color: var(--color-body);
    width: 45px;
    height: 45px;
    padding: 0 1rem;
}

.alert {
    font-size: 1.5rem;
    margin-left: 1rem;
    overflow: hidden;
}

.alert-danger {
    color: rgba(182, 69, 38, 0.813);
}