*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #e63946;
  --color-secondary: #a8dadc;
  --color-heading: #1d3557;
  --color-body: #457b9d;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Abel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1faee;
  font-size: 2rem;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}