*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #0d1b2a;
  --color-secondary: #1b263b;
  --color-heading: #e0e1dd;
  --color-body: #457b9d;
}

::selection {
  background: var(--color-body);
  color: #fff;
  border-radius: 15px;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Abel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c9dae5;
  font-size: 2rem;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}